/* Template overrides for GCWeWET v4.0.30 */

main {
    font-size: 16px;
}

/* Override container width as variable for internal admin site only */
.container {
    width: 90%;
}

#wb-bc a {
    padding: 0px 0px;
}

.gcweb-menu [role=menu] [role=menu] {
    min-height: 300px !important;
    border-left: #eee solid 1px;
}

.gcweb-menu [role=menu] [role=menu] [role=menu] {
    border-left: none;
    min-height: auto !important;
}

.mnu-sub {
    list-style: disc;
    margin-left: 20px;
}


/*  fix for the issue that textboxes in fieldset are not responsive on Firefox */
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


/* Template overrides */
a:visited {
    color: #284162;
}

.app-bar {
    background-color: #26374a;
}

details summary {
    border: none;
    padding-left: 0px;
}

details[open],
details[open] > summary {
    border: none;
}

fieldset {
    border-top: none;
}

header[role=banner] {
    z-index: 1 !important;
}

h1 {
    font-size: 28px;
    margin-top: .75em;
    margin-bottom: 0.6em;
}

label {
    font-weight: normal;
}

thead tr {
    background-color: #f5f5f5;
}

::-ms-clear {
    display: none;
}

.alert-danger,
.alert-info,
.alert-success {
    margin-left: 0px;
}

.alert-danger::before,
.alert-info::before,
.alert-success::before {
    line-height: 1.8em;
    margin-left: -0.2em;

}


.alert > :first-child {
    margin-left: 1.6em;
}

.alert-danger > :first-child:not(details, h2),
.alert-info > :first-child:not(details, h2),
.alert-success > :first-child:not(details, h2) {
    margin-left: 2.2em;
}

.alert > :last-child {
    padding-bottom: 15px;
}

.alert h2 {
    font-size: 21px;
}

.alert-danger .fa-ul,
.alert-success .fa-ul,
.alert-warning .fa-ul,
.alert-info .fa-ul {
    margin-left: 2.2em;
    margin-bottom: 0;
}

.alert > p {
    margin-left: 2em;
}

.alert-danger {
    background: #f3e9e8;
    border-color: #d3080c;
    border-image: none;
}

.alert-floating--warning > :first-child:before {
    content: "";
    display: inline-block;
    font-family: "Glyphicons Halflings";
    margin-left: -1.3em;
    position: absolute;
}

.alert-floating--warning {
    position: relative;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 5px #888;
    -moz-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
    background: #f9f4d4;
    border-color: #f90;
    margin-left: 0px;
}

.alert-floating--warning h2:before {
    font-family: "Glyphicons Halflings";
    padding-right: 5px;
    color: #f90;
    content: "\e107";
}


.alert-floating--warning .container {
    width: auto;
}


.alert-info {
    background: #dbedfe;
    border-color: #269abc;
    border-image: none;
}

.alert-success {
    background: #d8eeca;
    border-color: #278400;
    border-image: none;
}


.datemod {
    padding-left: 0px;
}


.dropdown-menu > li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropdown-menu > li > a {
    text-decoration: none;
}

.fa-ul li i {
    margin-right: 10px;
}

.equal {
    display: -webkit-flex;
    display: flex;
}

input.fieldError,
input.input-validation-error,
select.fieldError,
select.input-validation-error,
textarea.fieldError,
textarea.input-validation-error,
.has-error .form-control {
    background-color: #faf3f3;
    border-color: #a94442;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 1px #a00;
    -webkit-box-shadow: 0 0 1px #a00;
    box-shadow: 0 0 1px #a00;
}

.error {
    display: inline-block;
    width: 100%;
}

.fld-example {
    display: block;
    font-size: 84%;
    color: #767676;
    padding-left: 2px;
    position: relative;
    line-height: 1.5em;
    margin-top: 2px;
    margin-bottom: 3px;
}

.label {
    font-size: 90%;
    white-space: normal;
}

.highlight-yellow,
.table-striped > tbody > tr.highlight-yellow,
.table > tbody > tr.highlight-yellow {
    background-color: #ffffef;
}


.input-group-addon,
.input-group-btn .btn {
    padding: 6px 14px;
}


.info {
    border-left: solid 3px #31708f;
    color: #000;
    background-color: #EBF2FA;
    padding: 10px 15px;
    margin: 20px 0;
}

.info h3 {
    margin-top: 10px;
}

.list-group.list-group-results {
    margin-left: 10px;
    margin-right: 10px;
}

.list-group .list-group-item {
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    border-left: none;
    border-right: none;
}

.list-group-results .list-group-item {
    border: 1px dotted #ddd;
    list-style-type: disc;
    display: list-item;
    padding-left: 5px;
}

.list-group-results .list-group-item:last-child,
.list-group .list-group-item:last-child {
    border-bottom: none;
}

.list-group-results .list-group-item:first-child,
.list-group .list-group-item:first-child {
    border-top: none;
}

.list-group-results + .panel-footer,
.panel-heading + .list-group-results .list-group-item:first-child {
    border-top-width: 1px;
}

.list-group + .panel-footer {
    border-top-width: 1px;
}

.page-header {
    margin-top: 5px;
    margin-bottom: 16.75px;
    padding-bottom: 4px;
    padding-top: 0;
    border-bottom: 1px solid #666;
}

.page-header h1 {
    border-bottom: none;
}

.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
    /*
    padding: 0px;*/
    display: inline;
}

.pagination > li > a {
    margin-bottom: 0px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #335075;
    border-color: #335075;
}


.panel {
    width: 100%;
    height: 100%;
}

.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-heading {
    border-color: #ddd;
}

.panel-default > .panel-footer {
    /* border-color: #ddd; */
    border-top-color: #ddd;
    padding: 10px 15px;
}

.panel-primary > .panel-heading {
    background-color: #335075;
    border-color: #335075;
}

.panel-primary {
    border-color: #335075;
}

.panel-min-height {
    min-height: 4.3em;
}

.panel-businessLine > .panel-heading {
    background-color: #e1eefb;
}

.cn-filter--grey {
    padding: 20px;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+17,ffffff+99 */
    background: rgb(245, 245, 245);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 17%, rgba(255, 255, 255, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 17%, rgba(255, 255, 255, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 17%, rgba(255, 255, 255, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    border-top: 2px solid #ccc;
}

.panel-service,
.panel-account {
    box-shadow: 1px 1px 1px #666;
}

.panel-shadow {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.panel-disabled {
    border: 1px dotted #ccc;
    opacity: 80%;
}

.panel-disabled h4,
.panel-disabled .panel-body {
    color: #666;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    left: 0;
    margin-left: 0;
}

/* Mandatory asterisks */

.mandatory,
.mandatory-instructions {
    position: relative;
    top: 4px;
    color: #a00;
    font-weight: 800;
    font-size: 130%;
    line-height: 0;
}

.mandatory {
    padding-right: 3px;
}

.row {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.nav-button {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 6px;
    padding-right: 2px;
    background: rgb(239, 239, 239);
    /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 1%, rgba(247, 247, 247, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(239, 239, 239, 1)), color-stop(100%, rgba(247, 247, 247, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 1%, rgba(247, 247, 247, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 1%, rgba(247, 247, 247, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 1%, rgba(247, 247, 247, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 1%, rgba(247, 247, 247, 1) 100%);
    /* W3C */
    clear: both;
}

.wb-tabs [role=tablist] li {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(247, 247, 247);
    /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(232, 232, 232, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* W3C */
}

.wb-tabs {
    margin-bottom: 15px;
}

.wb-tabs > .tabpanels > details {
    padding-top: 15px;
}

.wb-tabs.wb-tabs-vertical [role=tablist] {
    border-spacing: 0px 0px;
}


.wb-tabs [role=tablist] li {
    margin: 0 3px 0 0;
}

.wb-tabs .tgl-panel {
    overflow: hidden;
}

.wb-tabs .tgl-panel .row {
    margin-left: -10px;
    margin-right: -10px;

}

#wb-info ul {
    display: none;
}

/* myTC specific */

hr {
    border-top-color: #d5e2e9;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}


.field-validation-error {
    color: #d3080c;
}

.form-control.fieldError {
    border-color: #a94442;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-top: 5px;
    margin-bottom: 5px;
}

.hd-pre {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #666;
    display: block;
}

.hd-suffix {
    font-size: 16px;
    float: right;
    font-weight: normal;
}

.hd-section {
    border-bottom: 1px solid #ccc;
}

h2.hd-section {
    font-size: 24px;
}

h3.hd-section {
    font-size: 20px;
}

.label-question,
.label-question label {
    font-weight: 700;
    font-size: 18px;
}

.label-form {
    font-weight: 700;
    color: #666;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
    background-color: #f9fbfc;
    border-left: 5px solid #335075;
    /* #393858; */
    margin-top: 10px;
}

.thumbnail-description {
    min-height: 40px;
    font-size: 16px;
}

.thumbnail-label {
    margin-top: 10px;
    font-size: 20px;
}

.thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.thumbnail:hover img {
    cursor: none;
    box-shadow: none;
}

.wb-tabs [role=tablist] li {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(247, 247, 247);
    /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(232, 232, 232, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 1%, rgba(232, 232, 232, 1) 100%);
    /* W3C */
}

.wb-tabs [role=tablist].generated li {
    top: 1px;
}

.wb-tabs [role=tablist] li.active a {
    border-top-width: 0;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.wb-tabs > .tabpanels > details {
    border-top-left-radius: 0;
}

.wb-tabs [role=tablist] li.active a:focus {
    outline: none;
}

.wb-tabs [role=tablist] li a {
    padding: 6px 12px 6px 12px;
}

.wb-tabs.wb-tabs-vertical [role=tablist] li a {
    padding: 5px 12px 6px 12px;
}

.wb-tabs.wb-tabs-vertical {
    overflow: auto;
}

.wb-tabs.wb-tabs-vertical [role=tablist] {
    float: left;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li {
    display: block;
    margin: 0 0 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right-width: 0;
    text-align: left;
    left: 0;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li:last-child {
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.wb-tabs.wb-tabs-vertical [role=tablist].generated li {
    top: 0;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li.active {
    padding-bottom: 0;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li a {
    display: block
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li.active a {
    border-bottom-width: 1px;
    background-color: #fff;
    border: none;
    height: 100px;
    -webkit-box-shadow: 4px 0 0 0 #fff;
    box-shadow: 4px 0 0 0 #fff;
    -moz-box-shadow: 4px 0 0 0 #fff;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li.active:first-child a {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.wb-tabs.wb-tabs-vertical [role="tablist"] li.active:last-child a {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}


.version {
    color: #666;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 900px;

    }
}
